@import url("typo.css");
@import url("navigation.css");
@import url("tables.css");
@import url("forms.css");
@import url("messages.css");

body {
	background-color: #ffffff;
	margin: 0;
}

img, acronym {
	border: 0;
}

.clear {
	clear: both;
	padding: 0;
	margin: 0;
}

#top {
	height: 5px;
	background-color: #12a1c9;
}

#header {
	height: 55px;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 760px;
}

#headline {
	height: 60px;
	background-color: #ecebe5;
	border-bottom: 5px solid #d9d7ca;
}

#content {
	padding-top: 15px;
}

#subnavigation {
	background-color: #12a1c9;
	height: 20px;
}

#footer {
	border-top: 1px solid #d9d7ca;
	color: #999999;
	text-align: center;
	margin-top: 25px;
	padding-bottom: 10px;
	clear: both;
}

.noserublogo {
	float: right;
}

#metanav {
	text-align: right;
	margin-top: 5px;
}

.yourboxes {
	float: left;
	margin: 0 50px 20px 0;
}

/* Network */
.date {
	float: right;
	color: #999999;
}

.link, .text, .photo, .audio, .video, .micropublish {
	padding: 5px 20px 5px 25px;
}

.photothumb {
	float: left;
	border: 1px solid #ECEBE5;
	width: 80px;
	margin: 0 15px 15px 0;
}

.photothumb img {
	padding: 7px 0 0 8px;
}