h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
}

.infotext {
	margin: 10px 0 10px 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #585857;
}

/* logo */
#logo h1 {
	text-indent: -9999px;
/*  IE 5 Hack \*/
	overflow: hidden;
/* end hack */ 
	padding:0;
	margin:0;
}

#logo h1 {
	width: 100px;
	height: 55px;
	background: transparent url('/images/logo.gif') no-repeat;
}

#logo h1 a {
	width: 100px;
	height: 55px;
	display: block;
}

#headline h2 {
	color: #363636;
	font-size: 20px;
	font-weight: normal;
	padding: 19px 0 0 0;
	margin: 0;
}

/* content links */
#content a, #content a:active, #content a:visited {
	color: #12A1C9;
	text-decoration: none;
	font-weight: normal;
	border-bottom: 1px dotted #12A1C9;
}

#content a:hover {
	color: #363636;
	border-bottom: 1px dotted #363636;
}

/* subnavigation links */
#subnavigation a, #subnavigation a:active, #subnavigation a:visited {
	color: #ffffff;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
	border-bottom: 1px dotted #ffffff;
}

#subnavigation a:hover {
	color: #363636;
	border-bottom: 1px dotted #363636;
}

#subnavigation .active a {
	color: #D9D7CA;
	font-weight: bold;
}

/* metanav links */
#metanav a, #metanav a:active, #metanav a:visited {
	color: #999999;
	text-decoration: none;
	font-weight: normal;
	border-bottom: 1px dotted #999999;
}

#metanav a:hover {
	color: #363636;
	border-bottom: 1px dotted #363636;
}

/* footer */
#footer a, #footer a:active, #footer a:visited {
	color: #999999;
	text-decoration: none;
	font-weight: normal;
	border-bottom: 1px dotted #999999;
}

#footer a:hover {
	color: #666666;
}

/* Navigation */
.nav ul {
	font-size: 11px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline;
	padding-right: 10px;
}

.subnav ul {
	font-size: 11pxm;
	list-style: none;
	margin: 0;
	padding: 4px 0 0 10px;
}

.subnav li {
	display: inline;
	padding-right: 10px;
}

dd {
	font-weight: bold;
}

/* Network */

#network h2, #network h3 {
	font-size: 12px;
	padding: 0 0 2px 0;
	margin: 0 0 5px 0;
}

#network h2 {
	color: #0099cc;
	border-bottom: 1px solid #0099cc;
}

#network h3 {
	color: #999999;
	border-bottom: 1px solid #999999;
}

#network ul {
	padding: 0 0 15px 0;
	margin: 0;
}

.networklist li {
	border-bottom: 1px solid #ebebeb;
	line-height: 20px;
	list-style: none;
}

a.external , a.external:active, a.external:visited {
	color: #585857 !important;
	text-decoration: none !important;
	font-weight: bold !important;
	border-bottom: 1px dotted #585857 !important;
}

a.external:hover {
	color: #12a1c9 !important;
	border-bottom: 1px dotted #12a1c9 !important;	
}

/* profile */
.more {
	float: right;
}

.more a, .more a:active, .more a:visited {
	color: #b6b6b6 !important;
	text-decoration: none !important;
	font-weight: normal !important;
	border-bottom: 1px dotted #b6b6b6 !important;
}

.more a:hover {
	color: #12a1c9 !important;
	border-bottom: 1px dotted #12a1c9 !important;	
}

.whoissidebar a, .whoissidebar a:active, .whoissidebar a:visited {
	color: #585858 !important;
	text-decoration: none !important;
	font-weight: normal !important;
	border-bottom: 1px dotted #585858 !important;
}

.whoissidebar a:hover {
	color: #12a1c9 !important;
	border-bottom: 1px dotted #12a1c9 !important;	
}