.icon {
	padding: 5px 20px 5px 25px;
}

/* profile */
.bio {
	background: transparent url(../images/icons/profile/bio.gif) no-repeat center left;
}

.destination {
	background: transparent url(../images/icons/profile/destination.gif) no-repeat center left;
}

.addcontact {
	background: transparent url(../images/icons/profile/add-contact.gif) no-repeat center left;
}

.removecontact {
	background: transparent url(../images/icons/profile/remove-contact.gif) no-repeat center left;
}

/* social stream */
.link {
	background: transparent url(../images/icons/network/link.gif) no-repeat center left;
}

.text {
	background: transparent url(../images/icons/network/text.gif) no-repeat center left;
}

.photos {
	background: transparent url(../images/icons/network/photo.gif) no-repeat center left;
}

.audio {
	background: transparent url(../images/icons/network/audio.gif) no-repeat center left;
}

.video {
	background: transparent url(../images/icons/network/video.gif) no-repeat center left;
}

.event {
	background: transparent url(../images/icons/network/event.gif) no-repeat center left;
}

.micropublish {
	background: transparent url(../images/icons/network/micropublish.gif) no-repeat center left;
}

.document {
	background: transparent url(../images/icons/network/document.gif) no-repeat center left;
}

.location {
	background: transparent url(../images/icons/network/location.gif) no-repeat center left;
}

/* portal */

.edit {
	background: transparent url(../images/icons/portal/edit.gif) no-repeat center left;
}

.delete {
	background: transparent url(../images/icons/portal/delete.gif) no-repeat center left;
}