/**
 * typo.css
 */
 h1, h2, h3, h4, h5, h6, p {
 	padding: 0;
 	margin: 0;
 }

 .infotext {
 	margin: 10px 0 10px 0;
 }

 body {
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 11px;
 	color: #585857;
 }

 /* logo */
 #logo h1 {
 	text-indent: -9999px;
 /*  IE 5 Hack \*/
 	overflow: hidden;
 /* end hack */ 
 	padding:0;
 	margin:0;
 }

 #logo h1 {
 	width: 100px;
 	height: 55px;
 	background: transparent url('../images/logo.gif') no-repeat;
 }

 #logo h1 a {
 	width: 100px;
 	height: 55px;
 	display: block;
 }

 #headline h2 {
 	color: #363636;
 	font-size: 20px;
 	font-weight: normal;
 	padding: 19px 0 0 0;
 	margin: 0;
 }

 /* content links */
 #content a, #content a:active, #content a:visited {
 	color: #12A1C9;
 	text-decoration: none;
 	font-weight: normal;
 	border-bottom: 1px dotted #12A1C9;
 }

 #content a:hover {
 	color: #363636;
 	border-bottom: 1px dotted #363636;
 }

 /* subnavigation links */
 #subnavigation a, #subnavigation a:active, #subnavigation a:visited {
 	color: #ffffff;
 	font-size: 11px;
 	text-decoration: none;
 	font-weight: normal;
 	border-bottom: 1px dotted #ffffff;
 }

 #subnavigation a:hover {
 	color: #363636;
 	border-bottom: 1px dotted #363636;
 }

 #subnavigation .active a {
 	color: #12A1C9 !important;
 	font-weight: bold;
 	background-color: #ffffff;
 	padding: 10px;
 }

 /* metanav links */
 #metanav a, #metanav a:active, #metanav a:visited {
 	color: #999999;
 	text-decoration: none;
 	font-weight: normal;
 	border-bottom: 1px dotted #999999;
 }

 #metanav a:hover {
 	color: #363636;
 	border-bottom: 1px dotted #363636;
 }

 /* footer */
 #footer a, #footer a:active, #footer a:visited {
 	color: #999999;
 	text-decoration: none;
 	font-weight: normal;
 	border-bottom: 1px dotted #999999;
 }

 #footer a:hover {
 	color: #666666;
 }

 /* Navigation */
 .nav ul {
 	font-size: 11px;
 	list-style: none;
 	margin: 0;
 	padding: 0;
 }

 .nav li {
 	display: inline;
 	padding-right: 10px;
 }

 .subnav ul {
 	font-size: 11pxm;
 	list-style: none;
 	margin: 0;
 	padding: 4px 0 0 10px;
 }

 .subnav li {
 	display: inline;
 	padding-right: 6px;
 }

 dd {
 	font-weight: bold;
 }

 /* Network */

 #network h2, #network h3 {
 	font-size: 12px;
 	padding: 0 0 2px 0;
 	margin: 0 0 5px 0;
 }

 #network h2 {
 	color: #0099cc;
 	border-bottom: 1px solid #0099cc;
 }

 #network h3 {
 	color: #999999;
 	border-bottom: 1px solid #999999;
 }

 #network ul {
 	padding: 0 0 20px 0;
 	margin: 0;
 }

 .networklist li {
 	border-bottom: 1px solid #ebebeb;
 	line-height: 20px;
 	list-style: none;
 }

 a.external , a.external:active, a.external:visited {
 	color: #585857 !important;
 	text-decoration: none !important;
 	font-weight: bold !important;
 	border-bottom: 1px dotted #585857 !important;
 }

 a.external:hover {
 	color: #12a1c9 !important;
 	border-bottom: 1px dotted #12a1c9 !important;	
 }

 /* profile */
 .vcard h4 {
 	font-size: 14px;
 	color: #585858;
 	font-weight: normal;
 	padding: 0 0 5px 10px !important;
 }

 .more {
 	float: right;
 	color: #b6b6b6;
 }

 .more a, .more a:active, .more a:visited {
 	color: #878787 !important;
 	text-decoration: none !important;
 	font-weight: normal !important;
 	border-bottom: 1px dotted #878787 !important;
 }

 .more a:hover {
 	color: #12a1c9 !important;
 	border-bottom: 1px dotted #12a1c9 !important;	
 }

 .whoissidebar a, .whoissidebar a:active, .whoissidebar a:visited {
 	color: #585858 !important;
 	text-decoration: none !important;
 	font-weight: normal !important;
 	border-bottom: 1px dotted #585858 !important;
 }

 .whoissidebar a:hover {
 	color: #12a1c9 !important;
 	border-bottom: 1px dotted #12a1c9 !important;	
 }

 .friendthumbs a {
 	border-bottom: none !important;
 }

 #whois h3 a, #whois h3 a:active, #whois h3 a:visited  {
 	font-size: 18px;
 	color: #585858;
 	border: none;
 }

 #personalid {
 	font-size: 18px;
 	color: #9d9d9d;
 }

 #personalid a, #personalid a:active, #personalid a:visited{
 	font-size: 18px;
 	color: #9d9d9d;
 	border: none;
 }

 #photo a {
 	border: none !important;
 }

 /* contacts */
 dd a, dd a:active, dd a:visited {
 	color: #999999 !important;
 	text-decoration: none;
 	font-weight: normal;
 	border-bottom: 1px dotted #999999 !important;
 }

 dd a:hover {
 	color: #363636 !important;
 	border-bottom: 1px dotted #363636 !important;
 }

 .sendmail a, .sendmail a:active, .sendmail a:visited {
 	color: #585858 !important;
 }

 .contactsheadline {
 	border-bottom: 1px solid #585858;
 	padding-top: 10px;
 }

 /* misc */

 .addmore {
 	background: transparent url(../images/icons/portal/more.gif) no-repeat center right;
 	padding: 5px 20px 5px 0;
 }

/**
 * navigation
 */ 
 #mainnav {
 	line-height: normal;
 	width: 760px;
 }

 #mainnav ul {
 	margin: 0;
 	padding:10px 10px 0 0;
 	list-style: none;
 }

 #mainnav li {
 	float:left;
 	background:url("../images/navigation/left.gif") no-repeat left top;
 	margin:0;
 	padding:0 0 0 9px;
 }

 #mainnav a {
 	float:left;
 	display:block;
 	background:url("../images/navigation/right.gif") no-repeat right top;
 	padding:5px 15px 4px 6px;
 	text-decoration:none;
 	font-weight: normal;
 	color: #585857;
 }

 /* Commented Backslash Hack
 	hides rule from IE5-Mac \*/
 #mainnav a {float:none;}
 /* End IE5-Mac hack */
 #mainnav a:hover {
 	color: #12A1C9;
 }

 #mainnav .active {
 	background-image:url("../images/navigation/left_on.gif");
 }

 #mainnav .active a {
 	background-image:url("../images/navigation/right_on.gif");
 	color: #585857;
 	font-weight: bold;
 	padding-bottom:5px;
 }

/**
 * profile
 */
 .vcard {
 	width: 600px;
 	float: left;
 }

 .mini {
 	padding-bottom: 15px;
 	clear: both;
 }

 #sidebar {
 	float: left;
 	width: 125px;
 	padding-left: 15px;
 	margin-left: 15px;
 	border-left: 1px solid #ecebe5;
 }

 #about {
 	margin: 0px 0px 10px 0px;
 	font-size: 11px;
 	color: #000;
 	background-image: url('../images/profile/about_bg.gif');
 	line-height: 24px;
 	padding: 0px 10px 0px 10px;
 }

 .textBox {
 	width: 290px;
 	float: left;
 }

 .lastBox {
 	margin-left: 20px;
 }

 #relationshipBox, #noteBox {
 	margin: 0px 0px 10px 0px;
 	font-size: 11px;
 	color: #000;
 	background-image: url('../images/profile/smallbox_bg.gif');
 	line-height: 24px;
 	padding: 0px 10px 0px 10px;
 }

 #whois, #photo, #addfriend {
 	float: left;
 }

 #addfriend {
 	float: right;
 }

 #whois {
 	padding: 10px 0 0 15px;
 }

 #sidebar h4 {
 	font-size: 11px;
 	font-weight: bold;
 	color: #12a1c9;
 	border-bottom: 1px solid #12a1c9;
 	padding: 0 0 3px 0;
 	margin: 0 0 5px 0;
 }

 #sidebar hr {
 	border: none;
 	padding: 10px;
 }

 .vcard hr {
 	border: none;
 	padding: 5px;
 }

 #network {
 	padding-top: 15px;
 }

 #photo img {
 	border: 1px solid #d9d7ca;
 	padding: 10px;
 }

 .internthumbs, .mypicture, .avatar {
 	border: 2px solid #ECEBE5;
 }

 .externthumbs {
 	border: 2px solid #c9c7ba;
 }

 .morefriends {
 	padding-top: 5px;
 }

 /* icons */
 #whois ul, #sidebar ul {
 	padding: 0 0 5px 0;
 	margin: 0;
 }

 .whoisstats li, .whoissidebar li {
 	border-bottom: 1px solid #ebebeb;
 	line-height: 20px;
 	list-style: none;
 }

 .whoisicon  {
 	padding: 5px 5px 5px 0;
 	vertical-align: middle;
 }

 /* contacts */
 .vcards {
 	border: 1px solid #D9D7CA;
 	background-color: #ffffff;
 	padding: 10px;
 	float: left;
 	margin-right: 10px;
 	height: 85px;
 	line-height: 16px;
 }

 .externalcontact {
 	background: transparent url('../images/contacts/external-contact.gif') no-repeat center right;
 }

 .contacts {
 	width: 220px;
 }

 .private {
 	width: 94px;
 }

 .vcards dt img {
 	border: 1px solid #ECEBE5;
 	float: left;
 	margin-right: 10px;
 }

 .vcards dd {
 	margin: 0;
 	padding: 0;
 }

 .contact_option {
 	margin-top: 5px;
 }

 .contactsbox a {
 	border: 0 !important;
 }

 .sendmail_icon {
 	padding: 5px 2px 5px 0;
 	vertical-align: middle;
 }

 /* editing contacts */
 label.contact_type {
     margin: 5px;
     padding: 5px;
     cursor: pointer;
 } 

 label.contact_type:hover {
     background-color: #ECEBE5;
     text-decoration: underline;
 }

 label.contact_type.checked {
     background-color: #12A1C9;
     color: #fff;
     text-decoration: underline;
 }

 /* this overwrites the overall label rule */
 #DefineContactTypesForm label {
 	display: inline;
 }
 
/**
 * tables
 */
 /* Styles for tabular listings such as those used for displaying directory
    contents and report results. */
 table.listing {
  clear: both;
  border-bottom: 1px solid #d7d7d7;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 1em;
  width: auto;
 }
 table.listing th { text-align: left; padding: 0 1em .1em 0; font-size: 12px }
 table.listing thead { background: #f7f7f0 }
 table.listing thead th {
  border: 1px solid #d7d7d7;
  border-bottom-color: #999;
  font-size: 11px;
  font-weight: bold;
  padding: 2px .5em;
  vertical-align: bottom;
 }
 table.listing thead th :link:hover, table.listing thead th :visited:hover {
  background-color: transparent;
 }
 table.listing thead th a { border: none; padding-right: 12px }
 table.listing th.asc a, table.listing th.desc a { font-weight: bold }
 table.listing th.asc a, table.listing th.desc a {
  background-position: 100% 50%;
  background-repeat: no-repeat;
 }
 /* TODO creating those images
 table.listing th.asc a { background-image: url(../asc.png) }
 table.listing th.desc a { background-image: url(../desc.png) } */
 table.listing tbody td, table.listing tbody th {
  border: 1px dotted #ddd;
  padding: .33em .5em;
  vertical-align: top;
 }
 table.listing tbody td a:hover, table.listing tbody th a:hover {
  background-color: transparent;
 }
 table.listing tbody tr { border-top: 1px solid #ddd }
 table.listing tbody tr.even { background-color: #fcfcfc }
 table.listing tbody tr.odd { background-color: #f7f7f7 }
 table.listing tbody tr:hover { background: #eed !important }

 table.listing ul {
 	padding: 0;
 	margin: 0;
 }

 table.listing li {
 	list-style: none;
 }
 
/**
 * forms
 */
 form, fieldset {
 	margin: 0;
 	padding: 0;
 }

 fieldset p {
 	margin: 5px 0 0 0;
 	padding: 0;
 	font-style: italic;
 	color: #999999;
 }

 fieldset {
 	border: none;
 	border-top: 1px solid #D9D7CA;
 	margin-bottom: 20px;
 }

 legend {
 	padding: 0 5px 0 0;
 	color: #363636;
 	font-weight: bold;
 }

 input, textarea, select {
 	margin: 0;
 	padding: 2px;
 	font-family: inherit;
 	font-size: 11px;
 	border: 1px solid #cccccc;
 }

 input {
 	vertical-align: middle;
 }

 select { padding: 0; }

 label {
 	color: #333;
 	display: block;
 	padding: 10px 0 3px 0;
 }

 .geolocation {
 	float: left;
 	width: 70px;
 	color: #363636;
 }

 #geolocation_preview {
 	float: right;
 	border-left: 1px solid #ECEBE5;
 	padding: 0 0  10px 10px;
 	margin: 10px 0 0 10px;
 }

 span {
 	padding-right: 10px;
 }

 div.submit.inline {
     display: inline;
     padding: 10px;
 }

 form.inline {
     display: inline;
 }

 .submit {
 	padding-top: 10px;
 }

 .submitbutton {
 	font-weight: bold;
 	background-color: #12a1c9;
 	color: #ffffff;
 	border: 1px solid #d9d7ca;
 	padding: 5px 10px 5px 10px;
 	text-align: center;
 	margin-top: 10px;
 }

 textarea {
 	width: 450px;
 	height: 150px;
 	line-height: 14px;
 	margin-top: 10px;
 }

 .micropublish textarea {
     width: 500px;
 	height: 28px;
 	line-height: 14px;
 	padding: 5px 10px 5px 10px;
 	vertical-align: middle;
 }

 #SyndicationAddForm ul, #IdentityDisplaySettingsForm ul {
 	padding: 0px;
 }

 #SyndicationAddForm li, #IdentityDisplaySettingsForm li {
 	list-style: none;
 	border-bottom: 1px solid #EBEBEB;
 	padding: 5px;
 }

 #SyndicationAddForm img {
 	vertical-align: middle;
 	margin: 0 5px 0 5px;
 }

 #SyndicationAddForm hr {
 	border: 0;
 	color: #12A1C9;
 	background-color: #12A1C9;
 	height: 1px;
 }

 .accounts_of_contact {
 	padding-left: 20px !important;
 }

/**
 * messages
 */

 #message {
 	color: #363636;
 	padding: 5px 20px 5px 45px;
 	margin-bottom: 10px;
 	text-align: left;
 }

 #message.alert {
 	border-top: 2px solid #f7aea5;
 	border-bottom: 2px solid #f7aea5;
 	background-position: 15px 50%;
 }

 #message.info {
 	border-top: 2px solid #bfdaff;
 	border-bottom: 2px solid #bfdaff;
 	background-position: 15px 50%;
 }

 #message.warning {
 	border-top: 2px solid #f8dd70;
 	border-bottom: 2px solid #f8dd70;
 	background-position: 15px 50%;
 }

 #message.success {
 	border-top: 2px solid #9fe8b8;
 	border-bottom: 2px solid #9fe8b8;
 	background-position: 15px 50%;
 }
   
/**
 * icons
 */
 .icon {
 	padding: 5px 20px 5px 25px;
 }

 /* profile */
 .bio {
 	background: transparent url(../images/icons/profile/bio.gif) no-repeat center left;
 }

 .destination {
 	background: transparent url(../images/icons/profile/destination.gif) no-repeat center left;
 }

 .userlocation {
 	background: transparent url(../images/icons/profile/userlocation.gif) no-repeat center left;
 }

 .addcontact {
 	background: transparent url(../images/icons/profile/add-contact.gif) no-repeat center left;
 }

 .removecontact {
 	background: transparent url(../images/icons/profile/remove-contact.gif) no-repeat center left;
 }

 /* social stream */
 .link {
 	background: transparent url(../images/icons/network/link.gif) no-repeat center left;
 }

 li.text { /* li element avoids conflict with text classes automatically set by cake's form helper */
 	background: transparent url(../images/icons/network/text.gif) no-repeat center left;
 }

 .photos {
 	background: transparent url(../images/icons/network/photo.gif) no-repeat center left;
 }

 .audio {
 	background: transparent url(../images/icons/network/audio.gif) no-repeat center left;
 }

 .video {
 	background: transparent url(../images/icons/network/video.gif) no-repeat center left;
 }

 .event {
 	background: transparent url(../images/icons/network/event.gif) no-repeat center left;
 }

 .micropublish {
 	background: transparent url(../images/icons/network/micropublish.gif) no-repeat center left;
 }

 .document {
 	background: transparent url(../images/icons/network/document.gif) no-repeat center left;
 }

 .location {
 	background: transparent url(../images/icons/network/location.gif) no-repeat center left;
 }

 .noserub {
 	background: transparent url(../images/icons/network/noserub.gif) no-repeat center left;
 }

 /* portal */

 .edit {
 	background: transparent url(../images/icons/portal/edit.gif) no-repeat center left;
 }

 .delete {
 	background: transparent url(../images/icons/portal/delete.gif) no-repeat center left;
 }

body {
	background-color: #ffffff;
	margin: 0;
}

img, acronym {
	border: 0;
}

.clear {
	clear: both;
	padding: 0;
	margin: 0;
}

.right {
	float: right;
}

.left {
	float: left;
}

.space {
	border: 0;
	color: #EBEBEB;
	background-color: #EBEBEB;
	height: 1px;
}

#top {
	height: 5px;
	background-color: #12a1c9;
}

#header {
	height: 55px;
}

.wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 760px;
}

#headline {
	height: 60px;
	background-color: #ecebe5;
	border-bottom: 5px solid #d9d7ca;
	clear: both;
}

/* ie7 hack // start */
*+html #headline {
	margin-top: 34px;
}
/* ugly ie7 hack // end */

#content {
	padding-top: 15px;
}

#subnavigation {
	background-color: #12a1c9;
	height: 20px;
}

#footer {
	border-top: 1px solid #d9d7ca;
	color: #999999;
	text-align: center;
	margin-top: 25px;
	padding: 10px 0 25px 0;
	clear: both;
}

.noserublogo {
	float: right;
}

#metanav {
	text-align: right;
	margin-top: 5px;
	height: 10px;
}

.yourboxes {
	float: left;
	margin: 0 50px 20px 0;
}

/* Network */
.date {
	float: right;
	color: #999999;
}

.photothumb {
	float: left;
	border: 1px solid #ECEBE5;
	margin: 0 15px 15px 0;
}

.photothumb img {
	padding: 7px 0 0 8px;
}

.extended {
	margin-top: -15px !important;
}

.boxLeft, .boxRight {
	width: 400px;
}

/* Settings */
#settings_photo, #locationsapi, #settingsExport {
	width: 255px;
	padding: 0 0 0 25px;
	border-left: 1px solid #ECEBE5;
}

#settings_data {
	width: 400px;
}

.settingsListSecond {
	background-color: #f4f4f4;
	padding: 10px 15px 10px 15px;
}

.contentSpacer {
	border: none;
	background-color: #ECEBE5;
	height: 1px;
	padding: 0;
	margin: 20px;
}