.vcard {
	width: 600px;
	float: left;
}

#sidebar {
	float: left;
	width: 125px;
	padding-left: 15px;
	margin-left: 15px;
	border-left: 1px solid #ecebe5;
}

#about {
	margin: 0px 0px 10px 0px;
	font-size: 11px;
	color: #000;
	background-image: url('../images/profile/about_bg.gif');
	line-height: 24px;
	padding: 0px 10px 0px 10px;
}

.textBox {
	width: 290px;
	float: left;
}

.lastBox {
	margin-left: 20px;
}

#relationshipBox, #memoBox {
	margin: 0px 0px 10px 0px;
	font-size: 11px;
	color: #000;
	background-image: url('../images/profile/smallbox_bg.gif');
	line-height: 24px;
	padding: 0px 10px 0px 10px;
}

#whois, #photo, #addfriend {
	float: left;
}

#addfriend {
	float: right;
}

#whois {
	padding: 10px 0 0 15px;
}

#sidebar h4 {
	font-size: 11px;
	font-weight: bold;
	color: #12a1c9;
	border-bottom: 1px solid #12a1c9;
	padding: 0 0 3px 0;
	margin: 0 0 5px 0;
}

#sidebar hr {
	border: none;
	padding: 10px;
}

.vcard hr {
	border: none;
	padding: 5px;
}

#network {
	padding-top: 15px;
}

#photo img {
	border: 1px solid #d9d7ca;
	padding: 10px;
}

.internthumbs, .mypicture, .avatar {
	border: 2px solid #ECEBE5;
}

.externthumbs {
	border: 2px solid #c9c7ba;
}

.morefriends {
	padding-top: 5px;
}

/* icons */
#whois ul, #sidebar ul {
	padding: 0 0 5px 0;
	margin: 0;
}

.whoisstats li, .whoissidebar li {
	border-bottom: 1px solid #ebebeb;
	line-height: 20px;
	list-style: none;
}

.whoisicon  {
	padding: 5px 5px 5px 0;
	vertical-align: middle;
}

/* contacts */
.vcards {
	border: 1px solid #D9D7CA;
	background-color: #ffffff;
	padding: 10px;
	float: left;
	margin-right: 10px;
	height: 85px;
	line-height: 16px;
}

.externalcontact {
	background: transparent url('../images/contacts/external-contact.gif') no-repeat center right;
}

.contacts {
	width: 220px;
}

.private {
	width: 94px;
}

.vcards dt img {
	border: 1px solid #ECEBE5;
	float: left;
	margin-right: 10px;
}

.vcards dd {
	margin: 0;
	padding: 0;
}

.contact_option {
	margin-top: 5px;
}

.contactsbox a {
	border: 0 !important;
}

.sendmail_icon {
	padding: 5px 2px 5px 0;
	vertical-align: middle;
}

/* editing contacts */
span.contact_type {
    margin: 5px;
    padding: 5px;
    float: left;
    cursor: pointer;
} 

span.contact_type:hover {
    background-color: #ECEBE5;
    text-decoration: underline;
}

span.contact_type.checked {
    background-color: #12A1C9;
    color: #fff;
    text-decoration: underline;
}